body{
    background-color:darkorchid;
}

.welcome{
    text-align: center;
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.xinfo{
    float: left;
    text-align: center;
    font-size: 40px;
}
.yinfo{
    float: right;
    text-align: center;
    font-size: 40px;
}
.coverImage{
    position: fixed ;
    left: 525px;
    height: 300px;
    width: 500px;
    border: 10px solid black;
}
.about{
    border: 3px dashed black ;
}
